
.social-media-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .icon {
    color: #000000;
    font-size: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .icon:hover {
    transform: scale(1.2);
    color: #0077b5; /* Highlight color for hover */
  }
  
  a {
    text-decoration: none;
  }
  